*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
app/libs/
app/src/main/res/drawable/
progressbar/libs/
progressbar/src/main/res/drawable/
